body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner {
    background-image: url('/img/BannerPpal.png');
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

#banner h1 {
    padding: 30px;
}


#contenido {
    background-image: url('/img/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;

}

#pie {
    background-image: url('/img/backgroundFooter.jpg');
    color: white;
    text-align: center;
    height: 200px;
    background-size: cover;

}

#pie p {
    padding: 60px;
}

#banner img {
    width: auto;
    /* Ajusta el ancho del logo según tus preferencias */
    margin-top: 10px;
    height: 100px;
    /* Hace que la altura se ajuste automáticamente manteniendo la proporción */
}


/*contenido de cada pagina*/



button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: black;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #bbe1fa;
    margin-top: 10px;
    margin-left: 40px;
}

button:hover {
    background-color: #0f4c75;
    color: #bbe1fa;
}


/* Media query para ajustar estilos en pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    #banner h1 {
        padding: 15px;
    }

    #pie p {
        padding: 10px;
    }

    .boton {
        padding: 0.8rem 1.6rem;
        font-size: 0.9rem;
        margin: 0.5rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    #banner h1 {
        padding: 15px;
        font-size: 1.5rem;
        /* Ajusta el tamaño de fuente en pantallas más pequeñas */
    }

    #banner img {
        max-width: min-content;
        /* Limita el ancho máximo de la imagen */
    }


}