<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
  <title>Generar QR</title>

  <!-- Tu hoja de estilo personalizada -->
  <link rel="stylesheet" href="/css/codigoQR.css">

</head>

<body>

  <div id="banner">
    <h1>Generar QR</h1>
    <img src="/img/Logo_claroU.png" alt="Logo">
  </div>


  <div id="contenido">
    <button class="btn btn-primary" id="btnGenerarQR">Generar QR</button>

    <div class="col-md-8">
      <div id="qrcode"></div>
    </div>


  </div>

  <script>
    const btnGenerarQR = document.getElementById('btnGenerarQR');
    const qrcode = new QRCode(document.getElementById('qrcode'), {
        width: 128,
        height: 128,
    });

    const data = {
        "sala": "Sala L",
        "Entrada": "09:00",
        "Salida": "13:00",
        "Encargado": "Juan Perez",
             
    };

    btnGenerarQR.addEventListener('click', () => {
        qrcode.makeCode(JSON.stringify(data));
    });
</script>

  <div id="pie">
    <p>Canales físicos y electrónicos para atención al público, Sede Principal Calle 65 No 26 - 10, Manizales Caldas
      Colombia.
      Horario de atención: 7:45 am - 11:45 am y 1:45 pm - 5:45 pm. Viernes: 7:00 am a 3:30 pm
      Tel conmutador +57 6 8781500 / Fax 8781501 / Apartado aéreo 275 / Línea gratuita: 01-8000-512120
      Línea de servicio a la ciudadanía/Usuario/Línea anticorrupción
      Email: atencionalciudadano@ucaldas.edu.co
      Notificaciones judiciales escribir a: gestion.juridica@ucaldas.edu.co
    </p>
  </div>

</body>

</html>