<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="/css/registro.css">
    <script src="/public/js/validarContrasena.js"></script>
    <script src="/public/js/validarCampos.js"></script>
</head>

<body>
    <div id="banner">
        <h1>Registro usuarios
        </h1>
        <img src="/img/Logo_claroU.png" alt="Logo">
    </div>
    <div id="contenido">
        <form name="sentMessage" id="contactForm" novalidate="novalidate" action="/usuarios/crear" method="POST"
            onsubmit="return validarCampos();">

            <div class="control-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control p-4" id="nombre" name="nombre" placeholder="Nombre"
                    required="required" data-validation-required-message="Por favor ingresar nombre" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>

                <label for="nombre">Documento:</label>
                <input type="text" class="form-control p-4" id="documento" name="documento" placeholder="Documento"
                    required="required" data-validation-required-message="Por favor ingresar documento" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>

                <label for="nombre">Dirección:</label>
                <input type="text" class="form-control p-4" id="direccion" name="direccion" placeholder="Dirección"
                    required="required" data-validation-required-message="Por favor ingresar dirección" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>


                <label for="nombre">Teléfono:</label>
                <input type="text" class="form-control p-4" id="telefono" name="telefono" placeholder="Teléfono"
                    required="required" data-validation-required-message="Por favor ingresaar teléfono" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>


                <label for="nombre">Correo:</label>
                <input type="email" class="form-control p-4" id="correo" name="correo" placeholder="Correo"
                    required="required" data-validation-required-message="Por favor ingresar correoelectrónico" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>

                <label for="rol">Rol:</label>
                <select name="rol" id="rol" required>
                    <option value="estudiante">Estudiante</option>
                    <option value="profesor">Profesor</option>
                    <option value="profesor">Administrador</option>
                </select><br>


                <label for="rol">Facultad:</label>
                <select name="facultad" id="facultad" required>
                    <option value="Facultad de Artes y Humanidades">Facultad de Artes y Humanidades</option>
                    <option value="Facultad Cirncias Agropecuarias">Facultad Cirncias Agropecuarias</option>
                    <option value="Facultad de Ciencias Exactas y Naturales">Facultad de Ciencias Exactas y
                        Naturales</option>
                    <option value="Facultad de Ciencias Juridicas y Sociales">Facultad de Ciencias Juridicas
                        y Sociales</option>
                    <option value="Facultad de Ciencias para la Salud">Facultad de Ciencias para la Salud
                    </option>
                    <option value="Facultad de Ingenieria">Facultad de Ingenieria</option>
                </select><br>

                <label for="rol">Semestre:</label>
                <select name="semestre" id="semestre" required>
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                    <option value="5">V</option>
                    <option value="6">VI</option>
                    <option value="7">VII</option>
                    <option value="8">VIII</option>
                    <option value="9">XI</option>
                </select><br>

                <label for="nombre">Programa</label>
                <input type="text" class="form-control p-4" id="programa" name="programa" placeholder="Programa"
                    required="required" data-validation-required-message="Por favor ingresar el programa" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>


                <label for="nombre">Usuario</label>
                <input type="text" class="form-control p-4" id="usuario" name="usuario" placeholder="Usuario"
                    required="required" data-validation-required-message="Por favor ingresar usuario" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>


                <label for="nombre">Contraseña:</label>
                <input type="password" class="form-control p-4" id="contrasena" name="contrasena"
                    placeholder="Contraseña" onchange="validarContrasena()" required="required"
                    data-validation-required-message="Por favor ingresar contraseña" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>

                <label for="nombre">Confirmar Contraseña:</label>
                <input type="password" class="form-control p-4" id="confirm_contrasena" name="confirm_contrasena"
                    placeholder="Confirmar Contraseña" onkeyup="validarContrasena()" required="required"
                    data-validation-required-message="Por favor confirmar contraseña" />
                <p class="help-block text-danger"></p>
                <div id="error_container" class="error"></div>

                <script>
                    validarContrasena();
                    validarCampos();
                </script>

                <button type="submit" class="boton">Completar Registro</button>
            </div>
        </form>
    </div>

    </div>

    <div id="pie">
        <p>Canales físicos y electrónicos para atención al público, Sede Principal Calle 65 No 26 - 10, Manizales
            Caldas Colombia.
            Horario de atención: 7:45 am - 11:45 am y 1:45 pm - 5:45 pm. Viernes: 7:00 am a 3:30 pm
            Tel conmutador +57 6 8781500 / Fax 8781501 / Apartado aéreo 275 / Línea gratuita: 01-8000-512120
            Línea de servicio a la ciudadanía/Usuario/Línea anticorrupción
            Email: atencionalciudadano@ucaldas.edu.co
            Notificaciones judiciales escribir a: gestion.juridica@ucaldas.edu.co
        </p>
    </div>


    <!-- Enlaces a Bootstrap JS y Popper.js (necesarios para ciertas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</body>

</html>