<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Archivos de estilo -->
  <link href="/css/prueba.css" rel="stylesheet">

  <title>Calendario</title>
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="monthDisplay"></div>
      <div>
        <button id="backButton">Anterior</button>
        <button id="nextButton">Siguiente</button>
      </div>
    </div>

    <div id="weekdays">
      <div>Domingo</div>
      <div>Lunes</div>
      <div>Martes</div>
      <div>Miércoles</div>
      <div>Jueves</div>
      <div>Viernes</div>
      <div>Sábado</div>
    </div>

    <div id="calendar"></div>
  </div>

  <div id="newEventModal">
    <h2>Nuevo Evento</h2>
    <input id="eventTitleInput" placeholder="Codigo"/>
    <input id="salon" placeholder="Salon"/>
    <input id="asignatura" placeholder="Asignatura"/>
    <input id="hora_entrada" placeholder="Hora Entrada"/>
    <input id="hora_salida" placeholder="Hora Salida"/>
    <input id="encargado" placeholder="Encargado"/>
    <button id="saveButton">Guardar</button>
    <button id="cancelButton">Cancelar</button>
  </div>
  
  <div id="deleteEventModal">
    <h2>Evento</h2>
    <div id="eventText"></div><br>
    <button id="deleteButton">Borrar</button>
    <button id="closeButton">Cerrar</button>
    <button id="generateQRButton">Código QR</button>
  </div>

  <div id="modalBackDrop"></div>

  <script src="/js/princiapl.js"></script>

  <script>
    document.getElementById('generateQRButton').addEventListener('click', () => {
      const salon = document.getElementById('salon').value;
      const asignatura = document.getElementById('asignatura').value;
      const horaEntrada = document.getElementById('hora_entrada').value;
      const horaSalida = document.getElementById('hora_salida').value;
      const encargado = document.getElementById('encargado').value;
  
      const eventData = {
        sala: salon,
        asignatura: asignatura,
        horaEntrada: horaEntrada,
        horaSalida: horaSalida,
        encargado: encargado
      };
  
      // Convertir a JSON
      const jsonData = JSON.stringify(eventData);
  
      // Enviar a la otra página (reemplaza 'otraPagina.html' con la URL real)
      console.log(`/codigoQR?data=${encodeURIComponent(jsonData)}`);
      window.location.href = `/codigoQR?data=${encodeURIComponent(jsonData)}`;
      
    });
  </script>
</body>

</html>
