<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones de Uso</title>

    <!-- Tu hoja de estilo personalizada -->
    <link rel="stylesheet" href="/css/registro.css">

</head>

<body>
  
    <div id="banner">
        <h1>Términos y Condiciones de Uso</h1>
        <img src="/img/Logo_claroU.png" alt="Logo">
    </div>

    <div id="contenido">
        <form>
            <div class="form-group">
                <p>
                    <h1>Términos y Condiciones de Uso</h1>
                    Bienvenid@ a  Ingreso QR una aplicación proporcionada por Universidad de Caldas. Al utilizar esta aplicación, usted acepta cumplir con los siguientes términos y condiciones:
                    
                    <h3>1. Privacidad y Seguridad de Datos</h3>
                    
                    1.1 Recopilación de Datos
                    La aplicación recopilará información personal y académica de profesores, estudiantes y directivos con el propósito de gestionar eficientemente los servicios ofrecidos por Ingreso QR.<br>
                    1.2 Uso de Datos
                    Los datos recopilados se utilizarán exclusivamente para fines educativos y administrativos relacionados con los servicios proporcionados por la aplicación. No se compartirán con terceros no autorizados sin el consentimiento expreso del usuario, excepto cuando sea requerido por ley.<br>
                    1.3 Seguridad de Datos
                    Implementamos medidas de seguridad para proteger la confidencialidad de la información almacenada. Sin embargo, no podemos garantizar la seguridad completa de los datos, y los usuarios comparten su información bajo su propio riesgo.<br>
                    
                    <h3>2. Responsabilidades del Usuario</h3>
                    
                    2.1 Cuentas de Usuario
                    Los usuarios son responsables de mantener la confidencialidad de sus cuentas de usuario y contraseñas. Cualquier actividad realizada con su cuenta se considerará responsabilidad del usuario.<br>
                    2.2 Uso Adecuado
                    Los usuarios se comprometen a utilizar la aplicación de manera ética y legal. No se permite el uso indebido, la alteración de datos o cualquier actividad que pueda dañar la integridad de la aplicación.<br>
                    
                    <h3>3. Derechos de Propiedad Intelectual</h3>
                    La aplicación y su contenido están protegidos por derechos de propiedad intelectual. Los usuarios no tienen derecho a copiar, modificar, distribuir, transmitir o crear trabajos derivados sin el consentimiento expreso de la Universidad de Caldas.
                    
                    <h3>  4. Cambios en los Términos y Condiciones</h3>
                                 
                    Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los usuarios serán notificados de cualquier cambio importante. El uso continuado de la aplicación después de la notificación constituirá la aceptación de los nuevos términos y condiciones.
                    <h3> 5. Ley Aplicable</h3>
                   
                    Estos términos y condiciones se rigen por la Ley Estatutaria 1581 de 2012 Protección de Datos Personales cualquier disputa se resolverá de acuerdo con estas leyes.
                    

                </p>
            </div>

            <div class="text-center">
              
            </div>
        </form>
    </div>
      </div>
            </form>
        </div>
    </div>
            <button onclick="window.location.href='/registro'">Atrás</button>
        </div>

    </div>

    <div id="pie">
        <p>Canales físicos y electrónicos para atención al público, Sede Principal Calle 65 No 26 - 10, Manizales Caldas
            Colombia.
            Horario de atención: 7:45 am - 11:45 am y 1:45 pm - 5:45 pm. Viernes: 7:00 am a 3:30 pm
            Tel conmutador +57 6 8781500 / Fax 8781501 / Apartado aéreo 275 / Línea gratuita: 01-8000-512120
            Línea de servicio a la ciudadanía/Usuario/Línea anticorrupción
            Email: atencionalciudadano@ucaldas.edu.co
            Notificaciones judiciales escribir a: gestion.juridica@ucaldas.edu.co
        </p>
    </div>

    <!-- Enlaces a Bootstrap JS y Popper.js (necesarios para ciertas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


</html>