<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horario de Clases</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

  </head>
  <body>
    <div class="main-container">
      <script src="js/main.js" type="module"></script>
     
      <div class="header">
        <h1>Calendario</h1>
      </div>
      <!-- Incluye los scripts de FullCalendar y sus dependencias desde la CDN -->

      <div class="calendar-container"></div>
      <footer class="footer">
        <a href="https://libreriasjs.com">www.libreriasjs.com</a>
      </footer>
    </div>
    <dile-modal id="event-modal" class="modal-container">
      <h2>Gestiona tu evento</h2>
      <form>
        <input type="text" placeholder="Nombre del evento" name="title" />
        <textarea
          name="description"
          id=""
          cols="30"
          rows="8"
          placeholder="Descripción del evento"
        ></textarea>
        <div class="btns-container">
          <button type="submit">Guardar</button>
          <button type="button" class="delete-event-btn d-none">
            Eliminar
          </button>
        </div>
      </form>
    </dile-modal>
    <script src="js/main.js" type="module"></script>
  </body>
</html>
